.barTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 2rem;

    h2 {
        font-size: 1.6rem;
        margin-right: 1rem;
        color: var(--color-gray-dark);

        &.darkMode {
            color: var(--color-gray-light);
        }
    }

    .barDetail {
        position: relative;
        height: 2px;
        width: 87%;
        background-color: #313131;

        &::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 30px;
            top: 50%;
            background-color: #313131;

            transform: translateY(-50%);
        }
    }

}