.artistContainer {
    padding: 2rem;
}

.artistProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;

    img {
        border-radius: 50%;
        width: 172px;
        height: 172px;
    }

    div {
        
        small {
            font-size: 0.9rem;
        }
    }
}

.artistLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 35rem;

    margin-top: 2.5rem;

    cursor: pointer;

    .linkContainer {
        position: relative;

        h4 {
            font-weight: 500;
            margin-bottom: 0.6rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;

            width: 0%;
            height: 4px;

            
            background-color: rgb(239, 84, 102);

            transition: all 0.2s ease;
        }

        &:hover::after {
            width: 100%;
            background: rgb(243, 62, 83);
        }
    }
}

.albunsCollection {

    width: 100%;
    height: 100%;

    margin-top: 1.2rem;

    .albunsHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        margin-bottom: 2rem;

        h2 {
            font-size: 1.6rem;
            margin-right: 1rem;
        }
    
        .barDetail {
            position: relative;
            height: 2px;
            width: 92%;
            background-color: #313131;

            &::after {
                position: absolute;
                content: '';
                width: 2px;
                height: 30px;
                top: 50%;
                background-color: #313131;

                transform: translateY(-50%);
            }
        }
    
    }

    
    .albunsCardsArea {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width: 1006px) {
    .albunsCollection {
    
        div {
            justify-content: center;
        }
    }
}

@media (max-width: 750px) {
    .artistContainer {
        margin-top: 5rem;
    }

    .artistLinks {
        width: 100%;
    }
}
