.artistCardContainer {
    margin-left: 4rem;

    h4 {
        text-align: center;
        letter-spacing: 0.4px;
        color: #252525;
        margin: 0.5rem 0;
    }
}

.header {
    position: relative;
    margin: 1rem auto;
    width: 200px;
    height: 200px;
    cursor: pointer;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 30px rgba($color: #000000, $alpha: 0.25);
    }

    i {
        display: none;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        background: #fff;
        color: #ef5466;
        border-radius: 50%;
        padding: 0.5rem;
        transition: font var(--time);

        &:hover {
            font-size: 1.2rem;
        }
    }

    &:hover {

        img {
            transition: all var(--time) ease;
            filter: brightness(0.4);
        }

        i {
            display: block;
        }
    }
}

.cardInformations {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.9rem;

    span {
        text-transform: capitalize;

        strong {
            color: #252525;
            margin-left: 0.4rem;
            letter-spacing: 0.2px;
        }
    }
}