.playlistOrAlbumCardContainer {
    margin-left: 4rem;
    width: 250px;
}

.header {
    position: relative;
    margin: 1rem auto;
    width: 220px;
    height: 220px;
    cursor: pointer;

    &:hover {

        img {
            filter: brightness(0.8);
        }

        .iconList {
            background: rgba(134, 133, 133, 0.068);

            i {
                &:not(:nth-child(1)) {
                    opacity: 1;
                }
            }
        }
    }

    img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 30px rgba($color: #000000, $alpha: 0.2);
        transition: filter var(--time) ease;
    }

    .iconList {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        opacity: 1;
        background: rgba(255, 255, 255, 0.000);

        transition: background var(--time) ease;

        i {
            color: #121212;
            background-color: #fff;
            border-radius: 50%;
            font-size: 0.7rem;
            padding: 0.4rem;
            margin: 0.5rem;
            transition: all var(--time) ease;

            &:not(:nth-child(1)) {
                opacity: 0;
            }

            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}

.cardInformations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
        font-size: 0.8rem;
        font-weight: 500;
        color: #72727d;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.title {
            font-size: 0.9rem;
            font-weight: 600;
            color: #131313;
        }
    }
}