.priceCardContainer {
    flex: 1 1 350px;
    flex: 0 1 350px;
    height: 100%;
    margin: 1.5rem;
    cursor: pointer;

    box-shadow: 0px 0px 20px rgba($color: #000000be, $alpha: 0.36);
    border-radius: 6px;
    filter: grayscale(1);

    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.02);
        filter: grayscale(0);
    }

}

.priceCardHeader {
    position: relative;
    text-align: left;
    line-height: 32px;
    height: 12rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(45deg, #3580CB, #1a5fa5);

    h2 {
        font-weight: 600;
        color: #fff;
        padding: 1rem 1rem 0rem 1rem;
    }
    
    h3 {
        position: relative;
        font-size: 1.2rem;
        font-weight: 500;
        color: #f1f2f3;
        padding: 0.5rem 1rem 2rem 1rem;
    }

    img {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.priceCardDetails {
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem;
    line-height: 40px;
    height: 28rem;
    width: 100%;

    li {
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 0.4px;
        margin: 0.1rem 1rem;
        color: #4e4c4c;


        i {
            color: #a0a0a0;
            font-size: 1rem;
            margin-right: 0.5rem;
        }
    }
}

.priceCardInformations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 0;

    span {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.4px;
        color: #3583d1;
    }

    button {
        padding: 0.6rem;
        margin: 1rem 0;
        border: 0;
        border-radius: 5px;
        width: 55%;

        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;

        background: #ef5466;
        color: #fff;
        transition: filter 0.2s ease;

        &:hover {
            filter: brightness(0.9);
        }
    }
}