.artistProfiles {
    position: relative;
    height: 100%;
    margin-bottom: 5rem;

    &:hover {
        .artistRowLeft,
        .artistRowRight {
            opacity: 1;
        }
    }

    h1 {
        margin-left: 3rem;
        font-size: 1.4rem;
        letter-spacing: 0.8px;
        text-transform: capitalize;

        color: var(--color-text-light);

        &.darkMode {
            color: var(--color-text-dark);
        }
    }

    .artistRowLeft,
    .artistRowRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 10rem;
        width: 2rem;
        z-index: 99999;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 2rem;

        background-color: #2525259f;
        color: #f1f2f3;

        cursor: pointer;
        overflow: hidden;
        opacity: 0;
        
        transition: opacity var(--time) ease-out;
    }

    .artistRowLeft {
        left: 0;
    }

    .artistRowRight {
        right: 0;
    }

    .sliderContainer {
        overflow-x: hidden;
        margin-top: 1rem;
    }

    .sliderBody {
        transition: all 0.3s ease;
    }

    .sliderItem {
        display: inline-block;
        width: 300px;
        height: 300px;
    }

}
